<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--Dies ist eine Konfigurationsdatei für eine .NET-Anwendung. In diesem Fall wird die unterstützte Laufzeitversion (supportedRuntime) auf .NET Framework Version 4.8 gesetzt. Die Konfigurationsdatei wird von der Common Language Runtime (CLR) gelesen, um sicherzustellen, dass die richtige Laufzeitversion für die Anwendung verwendet wird.-->
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>